.profile-container {
  background-color: var(--dark);
  border-radius: 20px;
  max-width: 60% !important;
  margin-top: 2rem;
  color: white;
  padding: 2rem;
}
.myProfile {
  display: flex;
  flex-direction: column;
}
.profile-btn {
  margin-top: 1rem;
  align-self: center;
  width: fit-content;
}
