.welcome-splash {
  width: 50%;
  margin: auto;
  border: 2px solid var(--dark);
  border-radius: 40px;
  text-align: center;
  margin-top: 5rem;
  background-color: var(--secondary);
  box-shadow: 4px 4px grey;
}
h1 {
  font-size: 100px;
}
