.ride-buttons {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 20rem;
  padding: 0.5rem;
  margin: 2rem;
  box-shadow: var(--secondary) 0px 8px 20px;
}

.coaster-img {
  max-height: 175px;
  padding: 0.5rem;
}

.user-name {
  align-self: flex-end;
  margin-top: 2rem;
}

.ride-name {
  text-decoration: double;
}
.btn-link {
  color: inherit;
}
