.search-bar {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: rgba(var(--bs-dark-rgb));
  padding: 2rem;
  max-width: fit-content;
  border-radius: 8px;
  color: white;
}
label {
  font-size: larger;
  font-weight: 600;
}
.search-input {
  margin: 0.5rem;
  border-radius: 4px;
}
